.code {
  .is-typed {
    .cursor {
      display: inline-block;
      transform: translateY(10px);
      width: 8px;
      height: 4px;
      background-color: transparent;
    }
  }
}
.name-skills {
  .is-typed {
    .cursor {
      display: inline-block;
      width: 2px;
      background-color: transparent;
    }
  }
}
